{% extends 'base.html' %}

{% block title %}
    Article #{{ article.id }}: {{ article.title }}
{% endblock %}

{% block body %}
    <h4>{{ article.title }}</h4>
    <div>
        <div class="border">{{ article.text }}</div>
        <div>Опубликовано {{ article.created_at }}
            <br>Автор: {{ article.author.user.username }}
        </div>
    </div>
    {% if article.tags %}
        <div>Теги:</div>
        <ul>
            {% for tag in article.tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}