{% extends 'base.html' %}

{% block title %}
    Article list
{% endblock %}

{% block body %}
    <h4>Список статей:</h4>
    <div>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ url_for('article.details', pk=article.id) }}">
                        {{ article.title }}
                    </a>
                    <br>Автор: {{ article.author.user.username }}
                </li>
            {% endfor %}
        </ul>
        <hr>
        <button class="btn btn-primary my-3">
            <a href="{{ url_for('article.create') }}" class="text-white text-decoration-none">Создать статью</a>
        </button>

    </div>

{% endblock %}